# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


# Whitelist
!*.md
!LICENSE
!.gitignore

!*.js
!*.svelte
!*.html
!*.css
!*.json
!*.py
!*requirements.txt
!**/img/*
!**/extension/*

# Blacklist (overrides Whitelist)
**/public/*
**/node_modules/*
**/.DS_Store
**/__pycache__/*
