# This sets the `.gitignore` to be a *whitelist* by default.
**/**
!*/


# Whitelist
!*.md
!LICENSE
!.gitignore

!*.js
!*.svelte
!*.html
!*.css
!*.json
!*.py

# Blacklist (overrides Whitelist)
*/public/*
*/node_modules/*
